@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    

<form>

    <span asp-validation-for="Address.Street" class="text-danger"></span>
    <span asp-validation-for="Address.Number" class="text-danger"></span>
    <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
    <span asp-validation-for="Address.City" class="text-danger"></span>

    <div class="form-row align-items-center">
        <div class="col text-center mr-3">
            <h1 class="display-4">Welcome @Model.Name</h1>
        </div>
    </div>


    <div class="form-row align-items-center m-5">
        <div class="col text-center mr-3">
            <label for="Address.Street">Twoja ulubiona ulica</label>
            <input type="text" class="form-control" id="Address.Street">
        </div>
        <div class="col text-center mr-3">
            <label for="Address.Number">Number</label>
            <input type="text" class="form-control" id="Address.Number">

        </div>
        <div class="col text-center mr-3">
            <label for="Address.ZipCode">Zipcode</label>
            <input type="text" class="form-control" id="Address.ZipCode">

        </div>
        <div class="col text-center mr-3">
            <label for="Address.City">City</label>
            <input type="text" class="form-control" id="Address.City">

        </div>
    </div>



    <div class="form-row align-items-center m-5">
        <div class="col text-center mr-3">

            <button type="submit" class="btn btn-primary">Zatwierdź</button>
        </div>
    </div>

</form>